body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding-top: 80px; /* Remove this line */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

header {
    background-color: #343a40;
    color: #fff;
    padding: 16px;
    margin-bottom: 50px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px; /* Adjust as necessary */
}

header h1 {
    font-size: 1.5em;
    margin: 10px;
}

header p {
    font-size: 1em;
    margin: 10px;
}

.logo {
    width: 80px;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 0 20px;
    margin-top: 80px; /* Add margin to create space below the header */
}

.container {
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    flex: 1;
    margin-right: 20px;
}

.upload-description {
    margin-bottom: 20px;
}

.upload-area {
    border: 2px dashed #007bff;
    border-radius: 20px;
    padding: 60px;
    cursor: pointer;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
}

.upload-content i {
    margin-bottom: 5px; /* Space between icon and text */
}


.upload-content span {
    color: #333;
    font-size: 1.2em;
}

.upload-area:hover {
    background-color: #e9ecef;
}

.upload-area input {
    display: none;
}

#convert-btn {
    display: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    margin-top: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#convert-btn:hover {
    background-color: #0056b3;
}

#output,
#error {
    margin-top: 20px;
    font-size: 1.4em;
}

#output {
    color: white;
}

#error {
    color: red;
}

#loading {
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.4em;
    color: #343a40;
    text-align: center;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.pulse {
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.copy-button {
    display: none; /* Hide the copy button by default */
    padding: 8px 16px;
    font-size: 1em;
    cursor: pointer;
    background-color: #fff; /* Material grey color */
    color: #000; /* White text color */
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.copy-button:hover {
    background-color: #6f6f6f; /* Darker shade of material grey for hover */
}

.ipa-viewer {
    max-width: 600px;
    padding: 20px;
    background-color: #000; /* Dark background color */
    color: #fff; /* White text color */
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace;
    min-height: 310px;
    flex: 1;
}

.ipa-viewer h2 {
    color: #fff; /* Green color for IPA header */
}


.terminal-output {
    white-space: pre-wrap;
    font-size: 1.2em;
}


footer {
    text-align: center;
    padding: 10px 0;
    background-color: #212529;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 1em;
}

@media only screen and (max-width: 600px) {
    .logo {
        display: none;
    }

    .header-text {
        margin-left: 0;
    }

    .main-container {
        flex-direction: column;
        align-items: center;
        margin-top: 80px; /* Adjusted margin for smaller screens */
    }

    .container,
    .ipa-viewer {
        max-width: 90%;
        margin: 10px auto;
        padding: 10px;
    }

    .upload-area {
        padding: 40px;
    }

    .upload-content span {
        font-size: 1em;
    }

    #convert-btn {
        font-size: 1em;
        padding: 8px 16px;
        margin-top: 12px;
    }

    #output,
    #error,
    #loading {
        font-size: 1.2em;
    }

    .ipa-viewer {
        max-width: 600px;
        background-color: #000; /* Dark background color */
        color: #fff; /* White text color */
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        font-family: 'Courier New', Courier, monospace;
    }

    footer p {
        font-size: 0.9em;
    }
}
